.grid-container-tall {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    /*
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "title title title"
        "main header"
        "main sidebar";
    */
}

.product-card-tall {
    max-height: 600px;
    height: auto;
    max-width: 400px;
    width: auto;
}

.grid-container-wide {
    display: grid;
    grid-template-columns: auto auto auto;
}


.product-card-wide {
    max-height: 400px;
    height: auto;
    max-width: 600px;
    width: auto;
}

.product-image {
    max-height: 400px;
    height: auto;
    max-width: 600px;
    width: auto;
}


.product-price {
    font-size: large;
    font-weight: bold;
}