div.container
    mat-card
        mat-card-header
            mat-card-title
                h5 Sign in with
        mat-card-content
            div.cardbutton
                a.google_button(mat-raised-button, (click)='googleAuthenticate()')
                    i.fa.fa-google
                    |  Google
            div.cardbutton
                a.facebook_button(mat-raised-button, (click)='facebookAuthenticate()')
                    i.icon.fa.fa-facebook
                    |  Facebook
            div.cardbutton
                a.twitter_button(mat-raised-button, (click)='twitterAuthenticate()')
                    i.fa.fa-twitter
                    |  Twitter
            div.cardbutton
                a.password_button(mat-raised-button, routerLink='/authenticate/password')
                    i.fa.fa-user-secret
                    |  Password
