div("*ngFor"="let product of products")
        | Id : {{product.id}}
        | Name: {{product.name}}
        | Description {{product.description}}
        | Rating: {{product.rating}}
        div
                a(routerLink='/product/{{product.id}}') Details 
        div
                button((click)="add_product(product)")
                        i.fa.fa-plus
                        |  Add to cart