div.container
    form([formGroup]="form_group_change_password")
        div.column
            mat-form-field
                mat-label(for="user_id") Id
                input.input(formControlName="user_id", readonly, matInput)
        div.column
            mat-form-field
                mat-label(for="user_name") Name
                input(formControlName="user_name", readonly, matInput)
        div.column
            mat-form-field
                mat-label(for="current_password") Old Password
                input(placeholder="Current password", type="password", formControlName="current_password", matInput, required)
    
        div.column
            mat-form-field
                mat-label(for="password") New Password
                input(placeholder="New password", type="password", formControlName="password", matInput, required, minlength="8")
        
        div.column
            mat-form-field
                mat-label(for="confirm_password") Confirm Password
                input(placeholder="Confirm password", type="password", formControlName="confirm_password", matInput, required, minlength="8")
                mat-error(*ngIf="form_group_change_password.hasError('notSame')") Passwords do not match

        div.column
            span: button(mat-raised-button, color="primary", type="submit", [disabled]="!this.form_group_change_password.valid", (click)="change_password_clicked()") Change Password
            span: button(mat-button, type="cancel", (click)="back_button_clicked()") Back
